<h3>Ajouter un camp</h3>

{{ form_start(form) }}
	{{ form_errors(form) }}

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
        {{ form_errors(form.nom) }}
        {{ form_label(form.nom) }}
        {{ form_widget(form.nom, {attr: {class: 'form-control'}}) }}
    </div>
    
    <div class="col-xs-12 col-sm-12 col-md-12">
        {{ form_errors(form.position) }}
        {{ form_label(form.position) }}
        {{ form_widget(form.position, {attr: {class: 'form-control'}}) }}
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        {{ form_errors(form.capacite) }}
        {{ form_label(form.capacite) }}
        {{ form_widget(form.capacite, {attr: {class: 'form-control'}}) }}
    </div>

	<input type="submit" value="Ajouter"/>
</div>

{{ form_end(form) }}
