{% include "deppopBackEndBundle:Default:navigation.html.twig" %}

<h3>Liste des camps</h3>

<a href="{{ path('deppop_back_end_ajouterCamp') }}">Ajouter un camp</a>

<form method="GET">
	<input type="text" name="search" placeholder="Rechercher..." />
	<input type="submit" value="Rechercher" />
</form>

<table>
	<thead>
		<tr>
			<th>Nom</th>
			<th>Position</th>
			<th>Capacité</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		{% for camp in camps %}
			<tr>
				<td>{{ camp.nom }}</td>
				<td><iframe
					width="600"
					height="450"
					frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAS_aVYpbdqp_baqd5pIZ3WJT5nFi1lojs
					&q={{ camp.position.x }},{{ camp.position.y }}">
				</iframe></td>
				<td>{{ camp.capacite }}</td>
				<td><a href="{{ path('deppop_back_end_editionCamp', {id: camp.id}) }}"><i class="fa fa-pencil-square-o"></i> Editer</a> | <a href="{{ path('deppop_back_end_suppressionCamp', {id: camp.id}) }}">Supprimer</a</td>
			</tr>
		{% endfor %}
	</tbody>
</table>
